:where(*, *::before, *::after) {
  box-sizing: border-box;
}

:where(body) {
  font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5rem;
}

:where(h1, h2, h3, ul, p) {
  margin: 0;
}

:where(td) {
  vertical-align: top;

  & strong {
    text-wrap: nowrap;
  }
}

:where(pre) {
  max-width: 100%;
  overflow-x: auto;
}

.summary__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel {
  display: grid;
  gap: 1rem;
}

.cols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  align-content: start;
  gap: 1rem;
}

.col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-content: start;
  gap: 1rem;

  overflow-x: auto;
}
